ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  --background: #fff url("../../../assets/images/background.png") no-repeat
    center center / cover;

  & > * {
    max-width: 300px;
    width: 100%;
    margin: 30px auto;
  }
}

.add-recipe-btn {
  margin-top: 20px;
  font-weight: bold;
}

ion-select {
  color: var(--ion-color-brown);
}

ion-label {
  text-transform: capitalize;
}
