:host {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    border: 7px solid var(--ion-color-brown);
    border-radius: 50%;
    border-top: 7px solid var(--ion-color-brown-light);
    width: 45px;
    height: 45px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}