<app-header *ngIf="user$ | async as user">
  <ng-container back>
    <ion-icon
      color="brown"
      slot="start"
      name="arrow-round-back"
      (click)="onBack()"
    ></ion-icon>
  </ng-container>
</app-header>

<ion-content [fullscreen]="true">
  <div id="container" *ngIf="!showSteps; else stepsTmpl">
    <ion-card *ngFor="let recipe of recipes; let i = index">
      <ion-slides pager="true">
        <ion-slide *ngFor="let image of recipe.images; let j = index">
          <img src="{{ image }}" />
          <span class="slide-text">Image {{ j }}</span>
        </ion-slide>
      </ion-slides>
      <ion-card-header>
        <ion-card-subtitle>{{ recipe.autor }}</ion-card-subtitle>
        <ion-card-title color="brown">{{ recipe.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ recipe.description }}
      </ion-card-content>
      <ion-item>
        <ion-label color="brown"
          >Go to <span (click)="showStepsInfo(i)"> Steps</span></ion-label
        >
        <ion-icon color="brown" slot="end" name="refresh"></ion-icon>
        <ion-icon
          color="brown"
          slot="end"
          name="trash"
          (click)="showDeleteModal(recipe.id)"
        ></ion-icon>
      </ion-item>
    </ion-card>
  </div>
</ion-content>

<ng-template #stepsTmpl>
  <app-steps
    [title]="recipes[recipeIndex].title"
    [ingredients]="recipes[recipeIndex].ingredients"
    [steps]="recipes[recipeIndex].steps"
  ></app-steps>
</ng-template>
