<app-header *ngIf="user$ | async as user; else loading"></app-header>

<ion-content [fullscreen]="true" *ngIf="user$ | async as user; else loading">
  <div id="container">
    <ion-card *ngFor="let info of recipes">
      <img src="{{ info.image }}" />
      <ion-card-header>
        <ion-card-title color="brown">{{ info.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content> {{ info.description }} </ion-card-content>
      <ion-item>
        <ion-label color="brown"
          >Go to
          <a routerLink="/{{info.title | lowercase}}">
            {{ info.title }}</a
          ></ion-label
        >
      </ion-item>
    </ion-card>
  </div>
</ion-content>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
